*{
  margin:0px;
  padding:0px;
}

html, body{
  height: 100%;
}

.parent1 {
  display: flex;
  height: 100%;
}

.businessMapParent {
  display: flex;
  flex-direction: column;
  flex: 1;
  order: 1;
}

#businessMap {
  flex: 1;
  order: 0;
}

.mapCustom {
  height: 15%;
  text-align: center;
  border-top: 2px solid grey;
  border-left: 1px solid grey;
}

.mapCustomForm {
  width: 100%;
}

.mapCustomTitle {
  font-family: 'Archivo', sans-serif;
  font-weight: 700;
  font-size: 125%;
  text-align: center;
  color: #003F87;
  height: 33%;
  padding: 5px;
  padding-top: 10px;
}

.mapCustomSelectDiv {
  display: inline-block;
  float: center;
  width: 25%;
  text-align: center;
  font-family: 'Archivo', sans-serif;
  font-size: 100%;
  width: 150px;
  padding-top: 2px;
  color: #003F87;
}



.mapCustomSelect {
  font-family: 'Archivo', sans-serif;
  font-size: 100%;
  width: 150px;
  padding: 7px;
  border: 1px solid grey;
  height: 40px;
  text-align: center;
  background-color: #F5F5F5;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.mapCustomButton {
  font-family: 'Archivo', sans-serif;
  background-color: #F5F5F5;
  border: 1 px solid grey;
  color: #0D4F8B;
  padding: 5px;
  text-align: center;
  font-size: 100%;
}

.businessList {
  overflow: auto;
  width: 35%;
  display: flex;
  flex-direction: column;
}

.listTitle {
  font-family: 'Archivo', sans-serif;
  font-weight: 700;
  text-align: center;
  color: #003F87;
  height: 100px;
  padding: 20px;
}


a:link {
  color: #0099CC;
}

a:visited {
  color: #0099CC;
}

table {
  border-collapse: collapse;
  background-color: #F5F5F5;
}

table tr.businessInfo {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

tr.businessInfo:hover {
  background-color: #D3D3D3;
}

th {
  width: 25%;
  padding: 15px;
}

th.businessHeaderCell {
  font-family: 'Archivo', sans-serif;
  font-weight: 550;
  font-size: 150%;
  text-align: center;
  color: #0D4F8B;
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
  cursor: pointer;
}

td {
  padding: 12px;
  width: 25%
}

td.businessInfoCell {
  font-family: 'Archivo', sans-serif;
  text-align: center;
}

.mapHeader {
  font-family: 'Archivo', sans-serif;
  font-weight: 500%;
  font-size: 150%;
  text-align: center;
  color: #0D4F8B;
}

.mapInfo {
  font-family: 'Archivo', sans-serif;
  font-weight: 400%;
  font-size: 110%;
  text-align: center;
  color: #787878;
}

.mapLink {
  font-family: 'Archivo', sans-serif;
  font-weight: 400%;
  font-size: 120%;
  text-align: center;
}
