* {
  margin: 0px;
  padding: 0px;
}

html, body{
  height: 100%;
}

.parent1 {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  height: 20%;
  border: 4px solid grey;
  display:flex;
  align-items: center;
  justify-content: center;
}

.headerText {
  font-family: 'Muli', sans-serif;
  font-weight: 600;
  color: #003F87;
  padding: 20px;
  font-size: 300%;
}

.content {
  display:flex;
  height: 80%
}

#defaultMap {
  flex: 1;
  height: 100%;
}

.generalInfo {
  width: 35%;
  height: 100%;
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 4px solid grey;
  border-right: 4px solid grey;
  border-bottom: 4px solid grey;
  box-sizing: border-box;
}

.generalInfoText {
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  color: #36648B;
  padding: 50px;
  font-size: 135%;
  line-height: 50px;
}

.instructionText {
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  color: #4682B4;
  padding: 50px;
  font-size: 150%;
  line-height: 50px;
}
