<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
    <link rel="stylesheet" href="/static/styles.css"/>
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
    integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
    crossorigin=""></script>
    <script src = "https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src = "/static/tableSort.js"></script>
  </head>
  <body>
    <div class = "parent1">
      <div class = businessMapParent>
        <div id = "businessMap"></div>
        <div class = "mapCustom">
          <p class = "mapCustomTitle">Map Customization</p>
          <form method = "GET" action = "/customized">
            <select name = "distanceSelect" class = "distanceSelect">
              <option value=1000>1 km</option>
              <option value=2000>2 km</option>
              <option value=5000>5 km</option>
              <option value=10000>10 km</option>
            </select>
            <button type="submit" value="Submit" class = "distanceSelectButton">Change search distance</button>
          </form>
        </div>
      </div>
      <div class = "businessList">
        <h1 class = "listTitle">Open Businesses</h1>
        <table id = "businessTable">
        <tr class = "businessHeader">
          <th class = "businessHeaderCell" onclick = "sortTableNumeric(0)">Name</th>
          <th class = "businessHeaderCell" onclick = "sortTableNumeric(1)">Distance</th>
          <th class = "businessHeaderCell" onclick = "sortTableNumeric(2)">Rating</th>
          <th class = "businessHeaderCell" onclick = "sortTableNumeric(3)">Price</th>
        </tr>
        {% for business in businesses_list %}
            <tr class = "businessInfo">
              <td class = "businessInfoCell">
                <a href = "{{ business[1] }}" target="_blank">
                  {{ business[0]}}
                </a>
              </td>
              <td class = "businessInfoCell">{{ business[2] }} km</td>
              <td class = "businessInfoCell">{{ business[3] }} stars</td>
              <td class = "businessInfoCell">{{ business[4] }}</td>
            </tr>
        {% endfor %}
        </table>
      </div>
    </div>
    {% block javascript %}
    <script>
    window.onload = function() {

      let basemap = L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
         attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
         maxZoom: 18,
         id: 'mapbox.streets',
         accessToken: 'pk.eyJ1IjoiYmxpbjEwMDciLCJhIjoiY2syOG1qY25tMTNiYTNjbzBoNm1jeXpsayJ9.tc--O5r3IBXSUeVmIBbKtA'
      });

      let data = JSON.parse({{ data | tojson }})

      let businessPts = L.geoJson(data, {
          onEachFeature: function(feature, layer) {
            layer.bindPopup('<h1 class = \"mapHeader\">' + feature.properties.name + '</h1>'+
            '<p class = \"mapInfo\"> Rating: ' + feature.properties.rating + ' stars</p>' +
            '<p class = \"mapInfo\"> Price: ' + feature.properties.price + '</p>' +
            "<p class = \"mapLink\"><a href='" + feature.properties.url + "'target=\"_blank\">Yelp link</a></p>");
          }

      });

      let map = L.map('businessMap').setView([{{ latitude }}, {{ longitude }}], 17);

      businessPts.addTo(map);
      basemap.addTo(map);

    };
    </script>
    {% endblock %}

  </body>
</html>
