<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
    integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
    crossorigin=""></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/stylesDefault.css"/>
    <script src = "/static/defaultMap.js"></script>
  </head>
  <body>

  <script>
    if (navigator.geolocation) {

      navigator.geolocation.getCurrentPosition(function(position) {

        let pos = {lat: position.coords.latitude, lon: position.coords.longitude}

        $.ajax({
                type: "POST",
                url: "/postmethod",
                contentType: "application/json",
                data: JSON.stringify({location: pos}),
                dataType: "json",
                success: function(response) {
                    console.log(response);
                    window.location.href = "./map";
                },
                error: function(err) {
                    console.log(err);
                }
            });
      });
    };
  </script>
  <div class = "parent1">
    <div class = "header">
      <h1 class = "headerText">Open Businesses</h1>
    </div>
    <div class = content>
      <div id = "defaultMap"></div>
      <div class = generalInfo>
        <p class = "generalInfoText">
          This website provides information on currently open businesses, both in a map and list format. It uses the Yelp Fusion API and Leaflet Javascript library.
        </p>
        <p class = "instructionText">
          Allow location to view open businesses near you!
        </p>
      </div>
    </div>
  </div>
  </body>
</html>
